#header {
  height: 100vh;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(75, 75, 75);
  background-blend-mode: multiply;
  background-image: url("/images/background.jpg");
  /* Image source: https://unsplash.com/photos/2Hzmz15wGik 
      (pine watt) */

  background-position: center;

  #headerName {
    color: #25ff75;
    transition: text-shadow 0.3s ease-in-out;
    &:hover {
      text-shadow: 1px 1px 12.5px rgba(150, 150, 150, 0.65);
    }
  }

  img {
    width: calc(50px + 3.5vw);
    height: calc(50px + 3.5vw);

    border-radius: 50%;
    outline: 4.5px solid var(--primary-text-color);

    /*
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -65%;
    */
  }
}

#headerSocial {
  position: absolute;
  bottom: calc(15px + 0.5vw);
  right: calc(15px + 0.5vw);

  text-align: end;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-text-color);

    font-family: var(--font-montserrat);
    font-weight: 300;
    font-size: calc(10.5px + 0.25vw);
    letter-spacing: 1px;

    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--link-hover-color);
    }
  }
}

@media only screen and (min-width: 961px) {
  #header img {
    margin-left: 2.5vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  #header img {
    margin-bottom: 2vw;
  }
}

@media only screen and (max-width: 480px) {
  #header img {
    margin-bottom: 2.5vw;
  }
}
