.navbar {
  background-color: var(--transparent);

  font-size: 13.5px;
  letter-spacing: 2px;

  position: absolute;
  width: 100%;

  .navbar-brand {
    color: var(--primary-text-color);
  }

  .navbar-nav {
    .nav-link {
      text-align: right;
      margin-left: 10px;
      margin-right: 10px;
      color: var(--primary-text-color);

      &.active,
      &:hover {
        color: var(--secondary-text-color);
      }

      &.active {
        border-bottom: 1px solid var(--secondary-text-color);
      }
    }
  }
}
