.carouselBoxDiv {
  position: relative;
  width: 100%;

  background-color: rgba(130, 130, 130, 0.5);
  transition: background-color ease-in-out 0.3s; /* SET THIS AS SAME DURATION AS .carouselBoxContent IN CUSTOM.JS */

  display: block;

  background-repeat: no-repeat;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .carouselBoxContent {
    height: 100%;

    // display: none; /* JS EDITED: SMOOTH ANIMATED W JQUERY, SEE CUSTOM.JS */
    /* display: flex; */ /* JS EDITED: SMOOTH ANIMATED W JQUERY, SEE CUSTOM.JS */
    flex-direction: column;
    display: flex; // CHANGE TO DISPLAY NONE LATER

    position: absolute;
    width: 100%;
    color: var(--primary-text-color);

    .carouselBoxContentBody {
      font-size: calc(9.5px + 0.35vw);
      margin-bottom: 15px;
    }

    .carouselBoxContentTagsContainer {
      display: flex;
      flex-wrap: wrap;
    }

    &.carousel-content-center {
      justify-content: center;
      text-align: center;

      .carouselBoxContentTagsContainer {
        justify-content: center;
      }
    }

    &.carousel-content-end {
      justify-content: end;
    }
  }
}

@media only screen and (max-width: 480px) {
  .four-to-three .carouselBoxContentTag {
    margin-left: calc(3.5px + 0.25vw);
    margin-right: calc(3.5px + 0.25vw);
  }
}
