:root {
  --primary-text-color: whitesmoke;
  --secondary-text-color: #1ef4a2;
  --link-hover-color: rgb(185, 185, 185);
  --transparent: #00000000;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
